Source: s2-server-ec
Section: embedded
Priority: optional
Maintainer: Guillaume Le Gall <guillaume.legall@imt-atlantique.fr>
Build-Depends: debhelper (>= 9), devscripts, libjdeb-java
Standards-Version: 3.9.8
Homepage: http://its.ipv6.enstb.fr/code
Vcs-Git: http://its.ipv6.enstb.fr/code/s2-dev-2017.git
Package: s2-server-ec
Version: [[version]]
Architecture: all
Depends: librxtx-java (>= 2.2pre2), openjdk-8-jdk
Description: CoAP server to provide OSV BMS information.
